{% extends 'things/base.html' %}

{% block title_text %}{{thing}}{% endblock %}
{% block edit_link %}{% url 'thing_edit' location.pk container.pk thing.pk %}{% endblock %}
{% block new_link %}{% url 'thing_create' container.location.pk container.pk %}{% endblock %}

{% block title_content %}<a href="/">🏠</a> > <a href="{% url 'location' location.pk %}">{{location}}</a> > <a href="{% url 'container' location.pk container.pk %}">{{container}}</a> > {{ thing }}{% endblock %}
{% block content %}
<div class="flex justify-center mx-2 bg-gray-100">
    <div class="rounded-lg bg-gray-200 my-2 px-4 py-2 max-w-screen-lg">
        <p class="text-xl font-bold pb-2">{{ thing.name }}</p>
        <p>{{ thing.description }}</p>
    </div>
</div>

{% endblock %}